<h1><%= @user.company.name %>	</h1>
	<h2>Bienvenido <%= @user.full_name %>	</h2>
	
	<nav>
		<ul>
			<li><%= link_to "Compa&ntilde;ia".html_safe, admin_companies_path	%>	</li>
			<li><%= link_to "Marcas", admin_suppliers_path		%>	</li>
			<li><%= link_to "Categorias", admin_product_categories_path	%>	</li>
			<li><%= link_to "Productos",	lookup_admin_products_path	%>	</li>
			<li><%= link_to "Distribuidores", admin_distributors_path	%>	</li>
			<li><%= link_to "Noticias", admin_posts_path		%>	</li>
		</ul>
	</nav>
