<table>
	<tr><td>Nombre 			</td>	<td><%= form.text_field	:name 									%>	</td></tr>
	<tr><td>Direccion		</td>	<td><%= form.text_field :address_1								%>	</td></tr>
	<tr><td>Direccion (2)	</td>	<td><%= form.text_field	:address_2								%>	</td></tr>
	<tr><td>Ciudad			</td>	<td><%= form.text_field	:city									%>	</td></tr>
	<tr><td>Departamento	</td>	<td><%= form.text_field	:state									%>	</td></tr>
	<tr><td>Codigo Postal	</td>	<td><%= form.text_field	:postal_code							%>	</td></tr>
	<tr><td>Pais   			</td>   <td><%= form.text_field :country    							%>	</td></tr>
	<tr><td>Telefono 1   	</td>   <td><%= form.text_field :telephone_1    						%>	</td></tr>
	<tr><td>Telefono 2   	</td>   <td><%= form.text_field :telephone_2    						%>	</td></tr>
	<tr><td>Telefono 3   	</td>   <td><%= form.text_field :telephone_3   		 					%>  </td></tr>
	<tr><td>Telefono 4   	</td>   <td><%= form.text_field :telephone_4    						%>	</td></tr>
	<tr><td>Telefono 5   	</td>   <td><%= form.text_field :telephone_5    						%>	</td></tr>
	<tr><td>Fax  			</td>   <td><%= form.text_field :fax    								%>  </td></tr>
	<tr><td>Email   		</td>   <td><%= form.text_field :email    								%>	</td></tr>
	<tr><td>Sobre Nosotros	</td>	<td><%= form.text_area :about_us, :rows => 10, :columns => 50	%>	</td></tr>
	<tr><td>Imagen Logo		</td>	<td><%= form.file_field	:logo_picture							%>	</td></tr>
</table>
