<table>
	<tr><td>Dimension		</td>	<td><%= form.text_field :product_attribute	%>	</td></tr>
	<tr><td>Diametro		</td>	<td><%= form.text_field	:diameter			%>	</td></tr>
	<tr><td>Largo			</td>	<td><%= form.text_field :length				%>	</td></tr>
	<tr><td>Ancho			</td>	<td><%= form.text_field	:width				%>	</td></tr>
	<tr><td>Presion Maxima	</td>	<td><%= form.text_field :maximum_pressure	%>	</td></tr>
	<tr><td>Peso Maximo		</td>	<td><%= form.text_field	:maximum_weight		%>	</td></tr>
</table>