<table>
	<tr><td>Nombre Categoria		</td>	<td><%= form.text_field	:name				%>	</td></tr>
	<tr><td>Descripcion				</td>	<td><%= form.text_field	:description		%>	</td></tr>
	<tr><td>Maneja Diametro?		</td>	<td><%= form.check_box	:diameter			%>	</td></tr>
	<tr><td>Maneja Largo?			</td>	<td><%= form.check_box 	:length				%>	</td></tr>
	<tr><td>Maneja Ancho?			</td>	<td><%= form.check_box	:width				%>	</td></tr>
	<tr><td>Maneja Presion Maxima	</td>	<td><%= form.check_box	:maximum_pressure	%>	</td></tr>
	<tr><td>Maneja Peso	Maximo		</td>	<td><%= form.check_box	:maximum_weight		%>	</td></tr>
	<tr><td>Maneja Colores			</td>	<td><%= form.check_box	:color				%>	</td></td>			
</table>