<h1>Compa&ntilde;ia	<%= @company.name	%>	</h1>
	
	
	<table>
		<tr><td>Sobre Nosotros		</td>	<td><%= @company.about_us					%>	</td></tr>
		<tr><td>Direccion			</td>	<td><%= @company.full_address				%>	</td></tr>
		<tr><td>Ciudad				</td>	<td><%= @company.city						%>	</td></tr>
		<tr><td>Departamento		</td>	<td><%= @company.state						%>	</td></tr>
		<tr><td>Codigo Postal		</td>	<td><%= @company.postal_code				%>	</td></tr>
		<tr><td>Pais				</td>	<td><%= @company.country					%>	</td></tr>
		<tr><td>Telefono 1                            </td>   <td><%= @company.telephone_1                                        %>      </td></tr>
		<tr><td>Telefono 2                            </td>   <td><%= @company.telephone_2                                        %>      </td></tr>
		<tr><td>Telefono 3                            </td>   <td><%= @company.telephone_3                                        %>      </td></tr>
		<tr><td>Telefono 4                            </td>   <td><%= @company.telephone_4                                        %>      </td></tr>
		<tr><td>Telefono 5                            </td>   <td><%= @company.telephone_5                                        %>      </td></tr>
		<tr><td>Fax                            </td>   <td><%= @company.fax                                        %>      </td></tr>
		<tr><td>Email                            </td>   <td><%= @company.email                                        %>      </td></tr>
		<tr><td>Logo				</td>	<td><%= @company.image_filename.nil? ? "" : image_tag(@company.image_filename)	%>	</td></tr>
	</table>
	
	<%= link_to "Editar Datos Compañia", :controller => 'admin', :action=> 'edit_company',:company => @company	%>
			
