<h1>Modificar Subcategory	</h1>
	<%= form_for :product_subcategory, :url => {:controller=> 'admin', :action => 'update_product_subcategory'} do |form|	%>
		<%= form.hidden_field :id	%>
		<%= render :partial => 'product_subcategory', :locals => {:form => form}	%>
		<%= submit_tag "Actualizar"		%>
	<% end %>
	
	<%= link_to "Regresar", :back	%>