<h1>Actualizar Dimension de Producto </h1>
	<p>Nombre de Producto: <%= @product.name	%></p>
	
	<%= form_for :product_dimension, :url => {:controller => 'admin', :action => 'update_product_dimension'} do |form| %>
		<%= form.hidden_field	:id												%>
		<%= render :partial => 'product_dimension', :locals => {:form => form}	%>
		<%= submit_tag "Actualizar Dimension"	%>
	<% end %>
	