<h1>Modificar Categoria de Producto </h1>
	<%= form_for :product_category, :url => {:controller => 'admin', :action => 'update_product_category'} do |form|	%>
		<%= form.hidden_field :id	%>
		<%= render :partial => 'product_category', :locals => {:form => form}	%>
		<%= submit_tag "Actualizar"			%>
	<% end %>
	<%= link_to "Regreso", :back %>