<h1>Modificar Distribuidor	</h1>

	<%= form_for :distributor,:url=> {:controller=> 'admin', :action=> 'update_distributor'} do |form|	%>
		<%= form.hidden_field :id										%>
		<%= render :partial => 'distributor', :locals => {:form => form}	%>
		<%= submit_tag "Actualizar"										%>
	<% end %>
	
	<br><br>
	<hr>
	<br>
	<%= link_to "Regresar", :back %>