<h1>Crear Categoria	</h1>

<% if @product_category.errors.any? %>
	<div id="error_explanation">
		<h2>Hay <%= @product_category.errors.count.to_s %> error(es) con esta categoria :</h2>

		<ul>
			<% @product_category.errors.each do |key,value| %>
  				<li><%= value %></li>
			<% end %>
		</ul>
	</div>
<% end %>



	<%= form_for :product_category, :url => {:controller => 'admin', :action=> 'create_product_category'} do |form| %>
		<%= form.hidden_field :company_id, :value => User.find(session[:user_id]).company				%>
		<%= render :partial => 'product_category', :locals => {:form => form}	%>
		<%= submit_tag "Crear Categoria"										%>
	<% end %>
	