<% javascript 'dynamic_subcategories'%>
<h1>Products </h1>

	<p>Seleccione el criterio que desea para filtrar los resultados </p>
	<%= form_for :product, :url => {:controller => 'admin', :action => 'products'} do |form| %>
		<table>
			<tr>
				<td>Marca			</td>	
				<td><%= form.select :supplier_id, @suppliers.collect {|s| [s.name, s.id]}, :include_blank => true	%>	</td>
				<td>Categoria		</td>	
				<td><%= form.select :product_category_id, @product_categories.collect {|pc| [pc.name, pc.id]}, :include_blank =>true	%>	</td>
				<td>Nombre Producto	</td>	
				<td><%= form.text_field :name											%>	</td>
			</tr>
			<tr id = "product_subcategory_field">
				<td >Subcategoria	</td>	
				<td><%= form.select :product_subcategory_id,	@product_subcategories.collect {|ps| [ps.name, ps.id]}, :include_blank => true	%>	</td>
				
			</tr>
		</table>
		<%= submit_tag "Buscar"	%>
	<% end %>
	
	<br><br>
	<hr>
	<br>
	<% if request.post?	%>
		<% unless @products.empty?	%>
			<table>
				<tr><th>Nombre	</th>	<th>Marca	</th>	<th>Categoria	</th>	<th>Imagen	</th></tr>
				<% @products.each do |product|	%>
					<tr><td><%= link_to product.name, :controller=> 'admin', :action => 'view_product', :product => product		%>	</td>
						<td><%= product.supplier.name																			%>	</td>
						<td><%= product.product_category.nil? ? "" : product.product_category.name								%>	</td>
						<td><%= product.image_filename.nil? ? "" : image_tag(product.image_filename, :size => "40x40")			%>	</td>
						<td><%= link_to "Modificar", :controller => 'admin', :action => 'edit_product', :product => product		%>	</td>
						<td><%= link_to "Eliminar", {:controller => 'admin', :action => 'delete_product', :product => product},
										:confirm => "Esta seguro que desea eliminar este producto?",:method => :delete 			%>	</td>
					</tr>
				<% end %>
			</table>
		<% else %>
			<p>No hay productos que coincidan con su criterio de busqueda.  Por favor intente de nuevo.</p>
		<% end 	%>
	<% end %>
	<br><br>
	<hr>
	<br>
	<%= link_to "Crear Nuevo Producto", :controller => 'admin', :action => 'new_product'	%>
