<h1>Categorias de Productos	</h1>
	
	<% unless @product_categories.empty?	%>
		<table>
			<tr><th>Categoria				</th>
				<th>Descripcion				</th>	
				<th>Diametro?				</th> 
				<th>Largo?					</th> 
				<th>Ancho?					</th>
				<th>Maxima Presion			</th>
				<th>Maximo Peso				</th>
				<th>Color					</th>
				<th>Num. Pieza				</th>
				<th>Descripcion de Servicio	</th>
				<th>Pared Lateral			</th>
				<th>Rango Ancho Rin			</th>
				<th>Banda Rodamiento		</th>
			</tr>
			<% @product_categories.each do |product_category| %>
				<tr><td><%= product_category.name			%>	</td>
					<td><%= product_category.description	%>	</td>
					<td><%= product_category.diameter ? image_tag("check.png", :size => "15x15") : image_tag("x.png", :size => "15x15")%></td>
					<td><%= product_category.length ? image_tag("check.png", :size => "15x15") : image_tag("x.png", :size => "15x15")%></td>
					<td><%= product_category.width ? image_tag("check.png", :size => "15x15") : image_tag("x.png", :size => "15x15")%></td>
					<td><%= product_category.maximum_pressure ? image_tag("check.png", :size => "15x15") : image_tag("x.png", :size => "15x15")	%></td>
					<td><%= product_category.maximum_weight ? image_tag("check.png", :size => "15x15") : image_tag("x.png", :size => "15x15")	%></td>
					<td><%= product_category.color ? image_tag("check.png", :size => "15x15") : image_tag("x.png", :size => "15x15")%></td>
					<td><%= product_category.part_number ? image_tag("check.png", :size => "15x15") : image_tag("x.png", :size => "15x15")%></td>
					<td><%= product_category.service_description ? image_tag("check.png", :size => "15x15") : image_tag("x.png", :size => "15x15")%></td>
					<td><%= product_category.lateral_wall ? image_tag("check.png", :size => "15x15") : image_tag("x.png", :size => "15x15")%></td>
					<td><%= product_category.rim_width_range ? image_tag("check.png", :size => "15x15") : image_tag("x.png", :size => "15x15")%></td>
					<td><%= product_category.tred_depth ? image_tag("check.png", :size => "15x15") : image_tag("x.png", :size => "15x15")%></td>
					<td><%= link_to "Subcategorias", :controller => 'admin', :action=> 'product_subcategories', :product_category => product_category	%>	</td>
					<td><%= link_to "Modificiar",:controller => 'admin', :action => 'edit_product_category', :product_category => product_category		%>	</td>
					<td><%= product_category.deleteable? ? link_to("Eliminar", {:controller => 'admin', :action => 'delete_product_category', :product_category => product_category},	
																		:confirm => "Esta seguro que desea eliminar esta categoria?", :method => :delete) : "" %></td>
				</tr>
			<% end %>
		</table>
	<% else 	%>
		<p>Aun no se han creado categorias de productos. :(</p>
	<% end %>
	<br><br>
	<hr>
	<br>
	<%= link_to "Crear Nueva Categoria", :controller=> 'admin', :action => 'new_product_category'	%>
	
