<h1>Detalles Producto	</h1>

	<table>
		<tr><td>Nombre Producto </td>		<td><%= @product.name											%>	</td></tr>
		<tr><td>Marca			</td>		<td><%= @product.supplier.name									%>	</td></tr>
		<tr><td>Categoria		</td>		<td><%= @product.product_category.nil? ? "" : @product.product_category.name 	%>	</td></tr>
		<tr><td>Subcategoria	</td>		<td><%= @product.product_subcategory.nil? ? "" : @product.product_subcategory.name	%>	</td></tr>
		<tr><td>Imagen			</td>		<td><%= @product.image_filename.nil? ? "" : image_tag(@product.image_filename, :size => "100x100")			%>	</td></tr>
		<tr><td>Descripcion		</td>		<td><%= @product.description									%>	</td></tr>
		<tr><td>Activo			</td>		<td><%= @product.active ? image_tag("check.png", :size => "30x30") : image_tag("x.png", :size => "30x30")	%>	</td></tr>
	</table>
	<p>
		<%= link_to "Modificar",:controller => 'admin',:action => 'edit_product',:product => @product	%>	| 
		<%= link_to("Eliminar", {:controller => 'admin', :action => 'delete_product', :product => @product}, :confirm => "Esta seguro que desea eliminar este producto?", :method =>:delete)%>
	</p>
	<h2>Dimensiones de Producto </h2>
	<% unless @product.product_attributes.empty?%>
		<table>
			<tr><th>Dimension  </th> <th>Diametro </th> <th>Largo </th> <th>Ancho </th> <th>Presion Maxima </th> <th>Peso Maxima </th></tr>
			<% @product.product_attributes.each do |product_attribute| %>
				<tr><td><%= product_attribute.product_attribute	%> </td>
					<td><%= product_attribute.diameter 			%> </td>
					<td><%= product_attribute.length 			%> </td>
					<td><%= product_attribute.width 			%> </td>
					<td><%= product_attribute.maximum_pressure 	%> </td>
					<td><%= product_attribute.maximum_weight 	%> </td>
					<td><%= link_to "Modificar", :controller => 'admin', :action => 'edit_product_attribute', :product_attribute => product_attribute %></td>
					<td><%= link_to("Eliminar", {:controller => 'admin', :action => 'delete_product_attrbute', :product_attribute => product_attribute}, :method => :delete, :confirm => "Esta seguro que desea eliminar este registro?")%>
				</tr>
			<% end %>
		</table>
	<% end %>
	<p>
		<%= link_to "Agregar Dimension", :controller => 'admin', :action => 'new_product_attribute', :product => @product	%>
	</p>
	<p>
		<%= link_to "Nuevo Producto", :controller => 'admin', :action => 'new_product' %>
	</p>