<div class="form-group row">
  <%= form. label "Nombre", class: "col-xs-2 col-form-label" %> 			
  <div class="col-xs-10">
    <%= form.text_field :name, class: "form-control" 		%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Direccion", class: "col-xs-2 col-form-label" %>		
  <div class="col-xs-10">
    <%= form.text_field :address_1, class: "form-control"		%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Direccion (2)", class: "col-xs-2 col-form-label" %>		
  <div class="col-xs-10">
    <%= form.text_field :address_2, class: "form-control"		%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Ciudad", class: "col-xs-2 col-form-label" %>			
  <div class="col-xs-10">
    <%= form.text_field :city, class: "form-control"		%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Departamento", class: "col-xs-2 col-form-label" %>		
  <div class="col-xs-10">
    <%= form.text_field :state, class: "form-control"		%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Codigo Postal", class: "col-xs-2 col-form-label" %>		
  <div class="col-xs-10">
    <%= form.text_field :postal_code, class: "form-control"	%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Pais", class: "col-xs-2 col-form-label" %>   			
  <div class="col-xs-10">
    <%= form.text_field :country, class: "form-control"    	%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Telefono 1", class: "col-xs-2 col-form-label" %>   		
  <div class="col-xs-10">
    <%= form.text_field :telephone_1, class: "form-control"    	%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Telefono 2", class: "col-xs-2 col-form-label" %>   		
  <div class="col-xs-10">
    <%= form.text_field :telephone_2, class: "form-control"    	%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Telefono 3", class: "col-xs-2 col-form-label" %>   		
  <div class="col-xs-10">
    <%= form.text_field :telephone_3, class: "form-control"   	%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Telefono 4", class: "col-xs-2 col-form-label" %>   		
  <div class="col-xs-10">
    <%= form.text_field :telephone_4, class: "form-control"    	%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Telefono 5", class: "col-xs-2 col-form-label" %>   		
  <div class="col-xs-10">
    <%= form.text_field :telephone_5, class: "form-control"    	%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Fax"	, class: "col-xs-2 col-form-label" %> 			
  <div class="col-xs-10">
    <%= form.text_field :fax, class: "form-control"    		%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Email", class: "col-xs-2 col-form-label" %>   		
  <div class="col-xs-10">
    <%= form.text_field :email, class: "form-control"    		%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Imagen Logo", class: "col-xs-2 col-form-label" %>		
  <div class="col-xs-10">
    <%= form.file_field :company_picture, class: "form-control"	%>
  </div>
</div>
<div class="form-group row">
<%= form. label "Slogan", class: "col-xs-2 col-form-label" %>			
  <div class="col-xs-4">
    <%= form.text_field :slogan, class: "form-control"		%>
  </div>
</div>
<div class="form-group row">
<%= form. label "Contenindo Pagina Inicio", class: "col-xs-2 col-form-label" %>
  <div class="col-xs-10">
    <%= form.text_area :homepage_intro, class: "form-control"    %>
  </div>
</div>

<div class="form-group row">
<%= form. label "Contenindo Sobre Nosotros", class: "col-xs-2 col-form-label" %>	
  <div class="col-xs-10">
    <%= form.text_area :about_us_main, class: "form-control"	%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Sección 1 Titulo", class: "col-xs-2 col-form-label" %> 	
  <div class="col-xs-10">
    <%= form.text_field :headline_1_title, class: "form-control" 	%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Sección 1 Contenido", class: "col-xs-2 col-form-label" %> 	
  <div class="col-xs-10">
    <%= form.text_area  :headline_1_content, class: "form-control"	%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Sección 2 Titulo", class: "col-xs-2 col-form-label" %> 	
  <div class="col-xs-10">
    <%= form.text_field :headline_2_title, class: "form-control" 	%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Sección 2 Contenido", class: "col-xs-2 col-form-label" %> 	
  <div class="col-xs-10">
    <%= form.text_area  :headline_2_content, class: "form-control"	%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Sección 3 Titulo", class: "col-xs-2 col-form-label" %> 	
  <div class="col-xs-10">
    <%= form.text_field :headline_3_title, class: "form-control" 	%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Sección 4 Contenido", class: "col-xs-2 col-form-label" %> 	
  <div class="col-xs-10">
    <%= form.text_area  :headline_3_content, class: "form-control"	%>
  </div>
</div>
<div class="form-group row">
  <%= form. label "Sección 4 Contenido", class: "col-xs-2 col-form-label" %>
  <div class="col-xs-10">
    <%= form.text_area  :headline_3_content, class: "form-control"      %>
  </div>
</div>
