<h1>Actualizar Datos de Compa&ntilde;ia</h1>

	<% if @company.errors.any? %>
		<div id="error_explanation">
			<h2>Hay <%= @company.errors.count.to_s %> error(es) con este distribuidor :</h2>
				<ul>
					<% @company.errors.each do |key,value| %>
  						<li><%= value %></li>
					<% end %>
				</ul>
		</div>
	<% end %>

<div>
	<%= form_for [:admin, @company],html: {class: "form-horizontal", multipart: true} do |form|	%>
		<%= render partial: 'company', locals: {form: form}	%>
		<%= submit_tag "Actualizar", {class: "btn btn-primary"}	%>
	<% end %>
	
	<%= link_to "Regresar a Compa&ntilde;ia".html_safe, admin_companies_path %>
</div>