
	<h1>Compa&ntilde;ia	<%= @company.name	%>	</h1>


	<dl class="row">	
		<dt class="col-sm-3">Direccion 				</dt>	<dd class="col-sm-9"><%= @company.full_address		%></dd>
		<dt class="col-sm-3">Ciudad					</dt>	<dd class="col-sm-9"><%= @company.city			%></dd> 
		<dt class="col-sm-3">Departamento			</dt>	<dd class="col-sm-9"><%= @company.state			%></dd> 
		<dt class="col-sm-3">Codigo Postal			</dt>	<dd class="col-sm-9"><%= @company.postal_code		%></dd>
		<dt class="col-sm-3">Pais					</dt>	<dd class="col-sm-9"><%= @company.country		%></dd> 
		<dt class="col-sm-3">Telefono 1         	</dt>   <dd class="col-sm-9"><%= @company.telephone_1     %></dd> 
		<dt class="col-sm-3">Telefono 2         	</dt>   <dd class="col-sm-9"><%= @company.telephone_2        %></dd> 
		<dt class="col-sm-3">Telefono 3         	</dt>   <dd class="col-sm-9"><%= @company.telephone_3     %></dd> 
		<dt class="col-sm-3">Telefono 4         	</dt>   <dd class="col-sm-9"><%= @company.telephone_4      %></dd> 
		<dt class="col-sm-3">Telefono 5         	</dt>   <dd class="col-sm-9"><%= @company.telephone_5     %></dd> 
		<dt class="col-sm-3">Fax                	</dt>   <dd class="col-sm-9"><%= @company.fax            %></dd> 
		<dt class="col-sm-3">Email              	</dt>   <dd class="col-sm-9"><%= @company.email           %></dd> 
		<dt class="col-sm-3">Slogan					</dt>	<dd class="col-sm-9"><%= @company.slogan	%>	</dd> 
		<dt class="col-sm-3">Contenido Página Inicio</dt>	<dd class="col-sm-9"><%= @company.homepage_intro	%></dd>
		<dt class="col-sm-3">Seccion 1 Titulo 		</dt>	<dd class="col-sm-9"><%= @company.headline_1_title 	%></dd> 
		<dt class="col-sm-3">Seccion 1 Contenido	</dt>	<dd class="col-sm-9"><%= @company.headline_1_content	%> </dd> 
		<dt class="col-sm-3">Seccion 2 Titulo 		</dt>	<dd class="col-sm-9"><%= @company.headline_2_title 	%></dd> 
		<dt class="col-sm-3">Seccion 2 Contenido	</dt>	<dd class="col-sm-9"><%= @company.headline_2_content	%></dd> 
		<dt class="col-sm-3">Seccion 3 Titulo 		</dt>	<dd class="col-sm-9"><%= @company.headline_3_title 	%></dd> 
		<dt class="col-sm-3">Seccion 4 Contenido	</dt>	<dd class="col-sm-9"><%= @company.headline_3_content	%></dd> 
	</dl>

	<br \><br \>
	<%= link_to "Editar Datos Compa&ntilde;ia".html_safe, edit_admin_company_path(@company)	%>

