<h1>Compa&ntilde;ia	<%= @company.name	%>	</h1>
	
<dl class="dl-horizontal">	
  <dt>Direccion		</dt>	<dd><%= @company.full_address		%></dd> 
  <dt>Ciudad		</dt>	<dd><%= @company.city			%></dd> 
  <dt>Departamento	</dt>	<dd><%= @company.state			%></dd> 
  <dt>Codigo Postal	</dt>	<dd><%= @company.postal_code		%></dd> 
  <dt>Pais		</dt>	<dd><%= @company.country		%></dd> 
  <dt>Telefono 1         </dt>   <dd><%= @company.telephone_1            %></dd> 
  <dt>Telefono 2         </dt>   <dd><%= @company.telephone_2            %></dd> 
  <dt>Telefono 3         </dt>   <dd><%= @company.telephone_3            %></dd> 
  <dt>Telefono 4         </dt>   <dd><%= @company.telephone_4            %></dd> 
  <dt>Telefono 5         </dt>   <dd><%= @company.telephone_5            %></dd> 
  <dt>Fax                </dt>   <dd><%= @company.fax                    %></dd> 
  <dt>Email              </dt>   <dd><%= @company.email                  %></dd> 
  <dt>Logo		</dt>	<dd><%= @company.company_picture.nil? ? "" : image_tag(@company.company_picture.url)	%>	</dd> 
  <dt>Seccion 1 Titulo 	</dt>	<dd><%= @company.headline_1_title 	%></dd> 
  <dt>Seccion 1 Contenido</dt>	<dd><%= @company.headline_1_content	%></dd> 
  <dt>Seccion 2 Titulo 	</dt>	<dd><%= @company.headline_2_title 	%></dd> 
  <dt>Seccion 2 Contenido</dt>	<dd><%= @company.headline_2_content	%></dd> 
  <dt>Seccion 3 Titulo 	</dt>	<dd><%= @company.headline_3_title 	%></dd> 
  <dt>Seccion 4 Contenido</dt>	<dd><%= @company.headline_3_content	%></dd> 
</dl>
<br \><br \>
<%= link_to "Editar Datos Compa&ntilde;ia".html_safe, edit_admin_company_path(@company)	%>
			
