<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= admin_companies_path%>">
    <img alt="Brand" src="https://s3.amazonaws.com/pierco.com.co/images/logo-pierco.png" width="90" />
  </a>
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item">
			<%= link_to "Compa&ntilde;ia".html_safe, admin_companies_path, class: "nav-link"%>	
		</li>
		<li class="nav-item">
			<%= link_to "Marcas", admin_suppliers_path, class: "nav-link"						%>	
		</li>
		<li class="nav-item">
			<%= link_to "Categorias", admin_product_categories_path, class: "nav-link"			%>	
		</li>
		<li class="nav-item">
			<%= link_to "Productos",	lookup_admin_products_path, class: "nav-link"			%>	
		</li>
		<li class="nav-item">
			<%= link_to "Distribuidores", lookup_admin_distributors_path, class: "nav-link" 	%>	
		</li>
		<li class="nav-item">
			<%= link_to "Noticias", admin_posts_path, class: "nav-link"							%>	
		</li>
		<li class="nav-item">
			<%= link_to "Usuarios", admin_users_path, class: "nav-link"            				%>  
		</li>
	</ul>
	<ul class="nav navbar-nav float-lg-right"> 
		<li class="nav-item"><%= link_to "Cerrar Session", login_logout_path, class: "nav-link" %></li>
	</ul>
</nav>
