<h1>Noticias</h1>

	<% if @posts.empty? %>
		<p>Todavia no se han creado noticias.</p>
	<% else %>
		<table>
			<tr><th>Fecha Creacion </th>	<th>Titulo Noticia </th> <th>Contenido</th></tr>
			<% @posts.each do |post| %>
				<tr><td><%= post.created_at.strftime('%Y-%m-%d %H:%M')	%>  </td>
					<td><%= post.title				%>  </td>
					<td><%= post.content			%>	</td>
					<td><%= link_to "Modificar", edit_admin_post_path(post) %>	</td>
					<td><%= link_to "Eliminar", admin_post_path(post), 
								:confirm => "Esta seguro que desea eliminar esta noticia?", :method => :post %> </td>
				</tr>
			<% end %>
		</table>
	<% end %>
	
	<p>
		<%= link_to "Crear Noticia", new_admin_post_path %>
	</p>
