<h1>Distribuidores	</h1>

	<% unless @distributors.empty?	%>
		<table>
			<tr><th>Nombre Distribuidor	</th>	
				<th>Direccion			</th>	
				<th>Ciudad				</th> 
				<th>Telefono 1			</th>	
				<th>Telefono 2			</th>	
				<th>Email				</th>	
			</tr>
			<% @distributors.each do |distributor| %>
				<tr><td><%= link_to distributor.name, admin_distributor_path distributor	%>	</td>
					<td><%= distributor.full_address													%>	</td>
					<td><%= distributor.city															%>	</td>
					<td><%= number_to_phone(distributor.telephone_1)									%>	</td>
					<td><%= number_to_phone(distributor.telephone_2)									%>	</td>
					<td><%= distributor.email															%>	</td>
					<td><%= link_to "Modificar", edit_admin_distributor_path distributor			%>	</td>
					<td><%= link_to("Eliminar", admin_distributor_path(distributor), :method => :delete)	%>
				</tr>
			<% end %>
		</table>
	<% else %>
		<p>No hay distribuidores creados.	</p>
	<% end %>
	<br><br>
	<hr>
	<br>
	<%= link_to "Crear Nuevo Distribuidor", new_admin_distributor_path	%>
				
