<h1>Distribuidor	</h1>

	<dl class="dl-horizontal">
		<dt>Nombre		</dt>	<dd><%= @distributor.name		%>	</dd>
		<dt>Direccion		</dt>	<dd><%= @distributor.address_1		%>	</dd>
		<dt>Direccion (2)	</dt>	<dd><%= @distributor.address_2		%>	</dd>
		<dt>Ciudad		</dt>	<dd><%= @distributor.city		%>	</dd>
		<dt>Departamento	</dt>	<dd><%= @distributor.state		%>	</dd>
		<dt>Pais		</dt>	<dd><%= @distributor.country		%>	</dd>
		<dt>Codigo Postal	</dt>	<dd><%= @distributor.postal_code	%>	</dd>
		<dt>Telefono (1)	</dt>	<dd><%= @distributor.telephone_1	%>	</dd>
		<dt>Telefono (2)	</dt>	<dd><%= @distributor.telephone_2	%>	</dd>
		<dt>Telefono (3)	</dt>	<dd><%= @distributor.telephone_3	%>	</dd>
		<dt>Email		</dt>	<dd><%= @distributor.email		%>	</dd>
	</dl>
	
	<p>
		<%= link_to "Regresar", lookup_admin_distributors_path %> | <%= link_to "Modificar", edit_admin_distributor_path(@distributor) %>
	</p>
