<h1>Productos </h1>

<p>Seleccione el criterio que desea para filtrar los resultados </p>
<%= form_for :product, url: search_admin_products_path, remote: true do |form| %>
<div class="form-group">
	<%= form.label "Marca", class: "col-md-1 form-control-label" %>	
	<div class="col-md-2">
		<%= form.select :supplier_id, @suppliers.collect {|s| [s.name, s.id]}, {include_blank: true}, {class: "form-control"}	%>
	</div>
	<%= form.label "Categoria", class: "col-md-1 form-control-label"	%>	
	<div class="col-md-2">
		<%= form.select :product_category_id, @product_categories.collect {|pc| [pc.name, pc.id]}, {include_blank: true}, {class: "form-control"}	%>
	</div>
	<div class="form-group">
		<%= form.label "Nombre", class: "col-md-1 form-control-label" %>	
		<div class="col-md-2">
			<%= form.select :id, @all_products.collect {|prod| [prod.name, prod.id]}, {include_blank: true}, {class: "form-control chosen-select"} %>
		</div>
	</div>
	<div class="col-md-2">
		<%= submit_tag "Buscar", {class: "btn btn-primary"}	%>
	</div>
</div>
<% end %>
<br><br>
<hr>
<br>
<div class="container" id="search_results">
</div>
<br><br>
<hr>
<br>
<%= link_to "Crear Nuevo Producto", new_admin_product_path	%>
<script type="text/javascript">
	$("#product_id").chosen({search_containes: true})
</script>
