<% javascript 'dynamic_subcategories'%>
<h1>Nuevo Producto	</h1>

	<% if @product.errors.any? %>
  		<div id="error_explanation">
    		<h2>Hay <%= @product.errors.count.to_s %> error(es) con este producto :</h2>

    		<ul>
    			<% @product.errors.each do |key,value| %>
      				<li><%= value %></li>
    			<% end %>
    		</ul>
  		</div>
	<% end %>



	<%= form_for([:admin, @product], html: {class: "form-horizontal",  multipart: true}) do |form|	%>
		<%= render partial: 'product', locals: {form: form}	%>
		<%= submit_tag "Crear Producto",  {class: "btn btn-primary"}	%>
	<% end %>
<br \> <br \>
        <%= link_to "Regresar", lookup_admin_products_path %>

