<div class="container">
	<ul class="nav nav-tabs" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" data-toggle="tab" href="#main" role="tab">Datos Principales</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#dimensions" role="tab">Medidas Disponibles</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#gallery" role="tab">Imagenes</a>
	  </li>
	</ul>
	
	<div class="tab-content">
	  <div class="tab-pane active" id="main" role="tabpanel">
		  <div class="title-control">
			  <div class="row">
				  <div class="col-md-8">
					  <h2>Detalles Producto	</h2>
				  </div>
				  <div class="col-md-2">
					  <%= link_to "Modificar",edit_admin_product_path(@product), class: "btn btn-primary"	%>	
				  </div>
				  <div class="col-md-2">
					  <%= link_to("Eliminar", admin_product_path(@product), method: :delete, class: "btn btn-danger")%>
				  </div>
			  </div>	  
		  </div>
		  <div class="row">
			  <div class="col-xl-6 col-lg-6">
				  <% unless @product.product_picture.file==nil %>
				  <%= image_tag(@product.product_picture.url, width: 400)%>
				  <% end %>
			  </div>
			  <div class="col-xl-6 col-lg-6">
				  <dl class="row">
					  <dt class="col-sm-4">Nombre Producto</dt><dd class="col-sm-8"><%= @product.name		%>	</dd>
					  <dt class="col-sm-4">Marca</dt><dd class="col-sm-8"><%= @product.supplier.name		%>	</dd>
					  <dt class="col-sm-4">Categoria</dt><dd class="col-sm-8"><%= @product.product_category.try(:name) 	%>	</dd>
					  <dt class="col-sm-4">Subcategoria</dt><dd class="col-sm-8"><%= @product.product_subcategory.try(:name)	%>	</dd>
					  <dt class="col-sm-4">Descripción</dt><dd class="col-sm-8"><%= @product.description	%>	</dd>
				  </dl>
			  </div>
		  </div>
	  </div>
	  <div class="tab-pane" id="dimensions" role="tabpanel">
		  <%= render partial: 'product_dimensions' %>
	  </div>
	  <div class="tab-pane" id="gallery" role="tabpanel">
		  <%= render partial: "gallery"%>
	  </div>
	</div>
	
	<%= link_to "Regresar", lookup_admin_products_path %>
</div>

<div id="dimension_modal" class="modal fade" role="dialog">
	
</div>
	
<!-- Modal -->
<div id="product_photo_modal" class="modal fade" role="dialog">
</div>

