<div class="container">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#main" aria-controls="main" role="tab" data-toggle="tab">Datos Principales</a>
		</li>
		<li role="presentation">
			<a href="#dimensions" aria-controls="dimensions" role="tab" data-toggle="tab">Medidas Disponibles</a>
		</li>
		<li role="presentation">
			<a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Imagenes</a>
		</li>
		
	</ul>
	
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="main">
			<h1>Detalles Producto	</h1>
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<%= image_tag(@product.product_picture.url, widht: 400)%>
				</div>
				<div class="col-lg-8 col-md-8">
					<dl class="dl-horizontal">
						<dt>Nombre Producto </dt>		<dd><%= @product.name				%>	</dd>
						<dt>Marca			</dt>		<dd><%= @product.supplier.name		%>	</dd>
						<dt>Categoria		</dt>		<dd><%= @product.product_category.try(:name) 	%>	</dd>
						<dt>Subcategoria	</dt>		<dd><%= @product.product_subcategory.try(:name)	%>	</dd>
						<dt>Descripción		</dt>		<dd><%= @product.description			%>	</dd>
					</dl>
				</div>
			</div>
			<p>
				<%= link_to "Modificar",edit_admin_product_path(@product)	%>	| 
				<%= link_to("Eliminar", admin_product_path(@product), method: :delete)%>
			</p>	
		</div>

		<div role="tabpanel" class="tab-pane" id="dimensions">
			<h2>Dimensiones de Producto </h2>
			<% unless @product.product_dimensions.empty?%>
			<table  class="table table-striped">
				<tr><th>Dimension	</th>
					<% @product.product_category.active_dimension_fields.each do |active_field|	%>
					<th><%= ProductDimension.attribute_dictionary[active_field]%></th>
					<% end %>
				</tr>
				<% @product.product_dimensions.each do |product_dimension|	%>
				<tr><td><%= product_dimension.name		%>	</td>
					<% @product.product_category.active_dimension_fields.each do |active_field|	%>
					<td><%= product_dimension.attributes[active_field]	%></td>
					<% end %>
					<td><%= link_to("Modificar", edit_admin_product_product_dimension_path(@product, product_dimension)) %></td>
					<td><%= button_to("Eliminar", admin_product_product_dimension_path(@product, product_dimension), method: :delete)%></td>
				</tr>
				<% end %>
			</table>
			<% end %>
			<p>
				<%= link_to "Agregar Dimension", new_admin_product_product_dimension_path(@product)	%>
			</p>
		</div>

		<div role="tabpanel" class="tab-pane" id="gallery">
			<h2>Imagenes Adicionales</h2>
			<% if @product.product_photos.empty? %>
			<p>No hay imagenes adicionales para este producto.</p>
			<% else %>
			<% @product.product_photos.each_slice(3) do |slice| %>
			<div class="row">
				<% slice.each do |photo| %>
				<div class="col-lg-4 col-md-4 col-xs-6 portfolio-item"> 
					<a href="javascript:void(0)" onclick="getProductPhotographModal('<%= photo.id %>')">
						<%= image_tag(photo.product_photograph.thumb.url) %>
					</a>
			  	  	<p><strong><%= product.supplier.name %></strong> <%= product.name %></p>
				</div>
				<% end %>
			</div>
			<% end %>	
			<% end %>
			<div class="row">
				<p>Agregar Nueva Imagen</p>
				<%= form_for [:admin, @product, @product_photo], remote: true, html: {class: "form-horizontal",  multipart: true} do |form| %>
				<div class="form-group">
					<%= form.label "Archivo Imagen", class: "col-sm-2 control-label"	%>
					<div class="col-xs-4">
						<%= form.file_field	:product_picture, class: "form-control"	%>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Cargar Archivo</button>
					</div>
				</div>	
				<% end %>
			</div>
		</div>
	</div>
<br \> <br \>
<%= link_to "Regresar", lookup_admin_products_path %>



<script type="text/javascript">
function createProductPhoto() {
	
}
</script>

