<h1>Detalles Producto	</h1>

	<table>
		<tr><td>Nombre Producto </td>		<td><%= @product.name											%>	</td></tr>
		<tr><td>Marca			</td>		<td><%= @product.supplier.name									%>	</td></tr>
		<tr><td>Categoria		</td>		<td><%= @product.product_category.nil? ? "" : @product.product_category.name 	%>	</td></tr>
		<tr><td>Subcategoria	</td>		<td><%= @product.product_subcategory.nil? ? "" : @product.product_subcategory.name	%>	</td></tr>
		<tr><td>Imagen			</td>		<td><%= @product.image_filename.nil? ? "" : image_tag(@product.image_filename, :size => "100x100")			%>	</td></tr>
		<tr><td>Descripcion		</td>		<td><%= @product.description									%>	</td></tr>
		<tr><td>Activo			</td>		<td><%= @product.active ? image_tag("check.png", :size => "30x30") : image_tag("x.png", :size => "30x30")	%>	</td></tr>
	</table>
	<p>
		<%= link_to "Modificar",edit_admin_product_path(@product)	%>	| 
		<%= link_to("Eliminar", admin_product_path(@product), :method =>:delete)%>
	</p>
	<h2>Dimensiones de Producto </h2>
	<% unless @product.product_dimensions.empty?%>
		<table>
			<tr><th>Dimension	</th>
				<% @product.product_category.active_dimension_fields.each do |active_field|	%>
					<th><%= ProductDimension.attribute_dictionary[active_field]%></th>
				<% end %>
			</tr>
			<% @product.product_dimensions.each do |product_dimension|	%>
				<tr><td><%= product_dimension.name		%>	</td>
					<% @product.product_category.active_dimension_fields.each do |active_field|	%>
						<td><%= product_dimension.attributes[active_field]	%></td>
					<% end %>
					<td><%= link_to("Modificar", edit_admin_product_product_dimension_path(@product, product_dimension)) %></td>
					<td><%= button_to("Eliminar", admin_product_product_dimension_path(@product, product_dimension), method: :delete)%>
				</tr>
			<% end %>
		</table>
	<% end %>
	<p>
		<%= link_to "Agregar Dimension", new_admin_product_product_dimension_path(@product)	%>
	</p>
	<p>
		<%= link_to "Nuevo Producto", new_admin_product_path %>
	</p>
