<div class="container">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#main" aria-controls="main" role="tab" data-toggle="tab">Datos Principales</a>
		</li>
		<li role="presentation">
			<a href="#dimensions" aria-controls="dimensions" role="tab" data-toggle="tab">Medidas Disponibles</a>
		</li>
		<li role="presentation">
			<a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Imagenes</a>
		</li>
		
	</ul>
	
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="main">
			<h1>Detalles Producto	</h1>
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<%= image_tag(@product.product_picture.url, widht: 400)%>
				</div>
				<div class="col-lg-8 col-md-8">
					<dl class="dl-horizontal">
						<dt>Nombre Producto </dt>		<dd><%= @product.name				%>	</dd>
						<dt>Marca			</dt>		<dd><%= @product.supplier.name		%>	</dd>
						<dt>Categoria		</dt>		<dd><%= @product.product_category.try(:name) 	%>	</dd>
						<dt>Subcategoria	</dt>		<dd><%= @product.product_subcategory.try(:name)	%>	</dd>
						<dt>Descripción		</dt>		<dd><%= @product.description			%>	</dd>
					</dl>
				</div>
			</div>
			<p>
				<%= link_to "Modificar",edit_admin_product_path(@product)	%>	| 
				<%= link_to("Eliminar", admin_product_path(@product), method: :delete)%>
			</p>	
		</div>

		<div role="tabpanel" class="tab-pane" id="dimensions">
			<%= render 'product_dimensions' %>
		</div>

		<div role="tabpanel" class="tab-pane" id="gallery">
		</div>
	</div>
<br \> <br \>
<%= link_to "Regresar", lookup_admin_products_path %>

<div id="dimension_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

	
</div>


<!-- Modal -->
<div id="addProductPhotograph" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar Imagen de Producto </h4>
      </div>
      <div class="modal-body">
				<%= form_for [:admin, @product, @product_photo], remote: true, html: {class: "form-inline",  multipart: true} do |form| %>
				<div class="form-group">
					<%= form.label "Archivo Imagen"								%>
					<%= form.file_field	:product_picture, class: "form-control"	%>
					<button type="submit" class="btn btn-default">Cargar Archivo</button>
				</div>	
				<% end %>
      </div>
    </div>

  </div>
</div>

