<div class="container">
    <h1 class="text-center">Pierco SAS</h1>
	<%= form_for :user_login, url: login_login_path, html: {class: "form-signin", role: "form"} do |form| %>
	  <%= image_tag "logo-pierco.png" %>
      <%= form.text_field :username, class: "form-control", placeholder: "Usuario"         %>
      <%= form.password_field :password, class: "form-control",  placeholder: "Contraseña"    %>
      <%= submit_tag "Ingresar", {class: "btn btn-lg btn-primary btn-block"}   %>
    <% end %>
</div>
	
		
