<div class="container">
    <h1 class="text-center">Pierco SAS</h1>
	<%= form_for :user_login, url: login_login_path, html: {class: "form-horizontal", role: "form"} do |form| %>
	<div class="form-group">
		<div class="col-lg-12 col-md-12 text-center">
			<img src="https://s3.amazonaws.com/pierco.com.co/images/logo-pierco.png" alt=""/>		 
		</div>
	</div>
	<div class="form-group">
	     <%= form.label "Nombre Usuario", class: "col-sm-4 col-md-4 col-lg-4 control-label"		%>
	     <div class="col-sm-6 col-md-6 col-lg-6">  
	        <%= form.text_field :username, class: "form-control", placeholder: "Usuario"         %>
		 </div>
	</div>
	<div class="form-group">
	     <%= form.label "Contraseña", class: "col-sm-4 col-md-4 col-lg-4 control-label"		%>
		 <div class="col-sm-6 col-md-6 col-lg-6">
            <%= form.password_field :password, class: "form-control",  placeholder: "Contraseña"    %>
		 </div>
	</div>		
	<div class="form-group text-center" >
		<div class="col-sm-offset-4 col-sm-6">
			<%= submit_tag "Ingresar", {class: "btn btn-lg btn-primary btn-block text-center"}   %>
		</div>
	</div>
    <% end %>
</div>
	
		
