<% if @product_dimension.errors.any? %>
<div id="error_explanation">
	<h2>Hay <%= @product_dimension.errors.count.to_s %> error(es) con esta dimension :</h2>
	<ul>
	<% @product_dimension.errors.each do |key,value| %>
		<li><%= value %></li>
	<% end %>
	</ul>
</div>
<% end %>
	
<%= form_for [:admin, @product, @product_dimension], html: {class: "form-horizontal"}, remote: true do |form| %>
	<div class="form-group">
		<%= form.label ProductDimension.attribute_dictionary["name"], class: "col-sm-2 control-label"	%>
		<div class="col-xs-4">
			<%= form.text_field :name, class: "form-control"%>
	  	</div>
	</div>
	<% ProductDimension.dimension_attributes.each do |dim_attr|  %>
	<% if @product.product_category.attributes[dim_attr]	%>
	<div class="form-group">
		<%= form.label ProductDimension.attribute_dictionary[dim_attr], class: "col-sm-2 control-label"	%>
		<div class="col-xs-4">
			<%= form.text_field dim_attr.to_sym, class: "form-control" %>
		</div>
	</div>
	<% end %>
	<% end %>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= submit_tag "Confirmar",  {class: "btn btn-primary"} %>
		</div>
	</div>
<% end %>
