<h1>Categorias de Productos	</h1>
	
	<% unless @product_categories.empty?	%>
		<table class="table table-striped">
			<tr><th>Categoria				</th>
				<th>Descripcion				</th>	
				<% ProductDimension.dimension_attributes.each do |attrbt| %> 
					<th><%= ProductDimension.attribute_dictionary[attrbt] + "?" %></th>
				<% end %>

			</tr>
			<% @product_categories.each do |product_category| %>
				<tr><td><%= product_category.name			%>	</td>
					<td><%= product_category.description	%>	</td>
					<% ProductDimension.dimension_attributes.each do |attrbt| %> 
					
					<td>
					<% if product_category.attributes[attrbt] %>
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					<% else %>
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					<% end %>
					</td>
					<% end %>
					<td><%= link_to "Subcategorias", admin_product_category_product_subcategories_path(product_category)	%>	</td>
					<td><%= link_to "Modificiar",edit_admin_product_category_path(product_category)		%>	</td>
					<td><%= product_category.deleteable? ? button_to("Eliminar", admin_product_category_path(product_category), method: :delete) : "" %></td>
				</tr>
			<% end %>
		</table>
	<% else 	%>
		<p>Aun no se han creado categorias de productos. :(</p>
	<% end %>
	<br><br>
	<hr>
	<br>
	<%= link_to "Crear Nueva Categoria", new_admin_product_category_path	%>
	
