<h1>Categorias de Productos	</h1>
	
	<% unless @product_categories.empty?	%>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Categoria				</th>
					<th>Descripcion				</th>
				</tr>
			</thead>
			<tbody>
				<% @product_categories.each do |product_category| %>
				<tr>
					<td><%= link_to(product_category.name, admin_product_category_path(product_category))			%>	</td>
					<td><%= product_category.description	%>	</td>
					<td><%= link_to "Subcategorias", admin_product_category_product_subcategories_path(product_category)	%>	</td>
					<td><%= link_to "Modificiar",edit_admin_product_category_path(product_category)		%>	</td>
					<td><%= product_category.deleteable? ? button_to("Eliminar", admin_product_category_path(product_category), method: :delete) : "" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% else 	%>
		<p>Aun no se han creado categorias de productos. :(</p>
	<% end %>
	<br><br>
	<hr>
	<br>
	<%= link_to "Crear Nueva Categoria", new_admin_product_category_path	%>
	
