<h1>Categorias de Productos	</h1>
	
	<% unless @product_categories.empty?	%>
		<table>
			<tr><th>Categoria				</th>
				<th>Descripcion				</th>	
				<% ProductDimension.dimension_attributes.each do |attrbt| %> 
					<th><%= ProductDimension.attribute_dictionary[attrbt] + "?" %></th>
				<% end %>

			</tr>
			<% @product_categories.each do |product_category| %>
				<tr><td><%= product_category.name			%>	</td>
					<td><%= product_category.description	%>	</td>
					<% ProductDimension.dimension_attributes.each do |attrbt| %> 
					<td><%=  product_category.attributes[attrbt] ? image_tag("check.png", :size => "15x15") : image_tag("x.png", :size => "15x15") %></td>
					<% end %>
					<td><%= link_to "Subcategorias", admin_product_category_product_subcategories_path product_category	%>	</td>
					<td><%= link_to "Modificiar",edit_admin_product_category_path product_category		%>	</td>
					<td><%= product_category.deleteable? ? link_to("Eliminar", {admin_product_category_path product_category}, method: :delete) : "" %></td>
				</tr>
			<% end %>
		</table>
	<% else 	%>
		<p>Aun no se han creado categorias de productos. :(</p>
	<% end %>
	<br><br>
	<hr>
	<br>
	<%= link_to "Crear Nueva Categoria", new_admin_product_category_path	%>
	
