<div class="form-group row">
  <%= form.label "Primer Nombre", class: "col-2 control-label" %>
  <div class="col-10">
    <%= form.text_field :first_name, class: "form-control" %>
  </div>
</div>
<div class="form-group row">
  <%= form.label "Apellido", class: "col-2 control-label" %>
  <div class="col-10">
    <%= form.text_field :last_name, class: "form-control" %>
  </div>
</div>
<div class="form-group row">
  <%= form.label "Nombre de Usuario", class: "col-2 control-label" %>
  <div class="col-10">
    <%= form.text_field :username, class: "form-control" %>
  </div>
</div>
<div class="form-group row">
  <%= form.label "Correo Electronico", class: "col-2 control-label" %>
  <div class="col-10">
    <%= form.text_field :email, class: "form-control" %>
  </div>
</div>
