<table>
<tr><td><%= form.label :first_name, "Primer Nombre" %></td> <td><%= form.text_field :first_name %></td></tr>
<tr><td><%= form.label :last_name, "Apellido" %></td> <td><%= form.text_field :last_name %></td></tr>
<tr><td><%= form.label :username, "Nombre de Usuario" %></td> <td><%= form.text_field :username %></td></tr>
<tr><td><%= form.label :email, "Correo Electronico" %></td> <td><%= form.text_field :email %></td></tr>
</table>
