<h2>Crear Nuevo Usuario</h2>

<%= form_for [:admin, @user], html: {class: "form-horizontal"} do |form| %>
  <%= form.hidden_field :company_id, value: @company.id %>
  <%= render partial: 'user', locals: {form: form} %>
  <%= render partial: 'password', locals: {form: form} %>
  <%= submit_tag "Crear Usuario", {class: "btn btn-primary"} %>
<% end %>
<br \><br \>
<%= link_to "Regresar", admin_users_path %>

