<div class="form-group">
  <%= forml.label "Nombre" %>
  <div class="col-xs-4">
    <%= form.text_field	:name		%>
  </div>
</div> 
<div class="form-group">
  <%= form.label "Direccion" %>
  <div class="col-xs-4">
    <%= form.text_field :address_1	%>	
  </div>
</div>
<div class="form-group">
  <%= forml.label "Direccion 2" %>
  <div class="col-xs-4">	
    <%= form.text_field	:address_2	%>
  </div>
</div>
<div class="form-group">
  <%= form.label "Ciudad" %>
  <div class="col-xs-4">		
    <%= form.text_field	:city		%>
  </div>
</div>
<div class="form-group">
  <%= form.label "Departamento/Estado" %>
  <div class="col-xs-4">
    <%= form.text_field :state		%>
  </div>
</div>
<div class="form-group">
  <%= form.label "Codigo Postal" %>
  <div class="col-xs-4">
    <%= form.text_field :postal_code	%>
  </div>
</div>
<div class="form-group">
  <%= form.label "Pais" %>		
  <div class="col-xs-4">
    <%= form.text_field :country	%>
  </div>
</div>
<div class="form-group">
  <%= form.label "Telefono" %>	
  <div class="col-xs-4">
    <%= form.text_field	:telephone	%>	
  </div>
</div>
<div class="form-group">
  <%= form.label "Website" %>
  <div class="col-xs-4">		
    <%= form.text_field	:website	%>
  </div>
</div>
<div class="form-group">
  <%= form.label "Logo" %>		
  <div class="col-xs-4">
    <%= form.file_field	:logo_picture	%>
  </div>
</div>

