<table>
	<tr><td>Nombre				</td>	<td><%= form.text_field	:name				%>	</td></tr>
	<tr><td>Direccion			</td>	<td><%= form.text_field :address_1			%>	</td></tr>
	<tr><td>Direccion 2			</td>	<td><%= form.text_field	:address_2			%>	</td></tr>
	<tr><td>Ciudad				</td>	<td><%= form.text_field	:city				%>	</td></tr>
	<tr><td>Departamento/Estado	</td>	<td><%= form.text_field :state				%>	</td></tr>
	<tr><td>Codigo Postal		</td>	<td><%= form.text_field :postal_code		%>	</td></tr>
	<tr><td>Pais				</td>	<td><%= form.text_field :country			%>	</td></tr>
	<tr><td>Telefono			</td>	<td><%= form.text_field	:telephone			%>	</td></tr>
	<tr><td>Website				</td>	<td><%= form.text_field	:website			%>	</td></tr>
	<tr><td>Logo				</td>	<td><%= form.file_field	:logo_picture		%>	</td></tr>
</table>