<h1>Marcas	</h1>
	<% unless @suppliers.empty?	%>
		<table>
			<tr><th>Nombre Marca	</th>	<th>Direccion	</th>	<th>Ciudad	</th>	<th>Pais	</th><th>Website	</th></tr>
			<% @suppliers.each do |supplier| %>
				<tr><td><%= link_to supplier.name, admin_supplier_path(supplier) 	%>	</td>
					<td><%= supplier.address_1					%>	</td>
					<td><%= supplier.city						%>	</td>
					<td><%= supplier.country					%>	</td>
					<td><%= supplier.website					%>	</td>
					<td><%= link_to "Modificar", edit_admin_supplier_path(supplier)	%>	</td>
				</tr>
			<% end %>
		</table>
	<% else %>
		<p>Aun no se han creado marcas. :( 	</p>
	<% end %>
	<br><br>
	<hr>
	<br>
	<%= link_to "Crear Nueva Marca",new_admin_supplier_path	%>
