<h1>Marca	</h1>
	
	<table>
		<tr><td>Nombre Marca	</td>	<td><%= @supplier.name			%>	</td></tr>
		<tr><td>Direccion		</td>	<td><%= @supplier.full_address		%>	</td></tr>
		<tr><td>Ciudad			</td>	<td><%= @supplier.city			%>	</td></tr>
		<tr><td>Estado			</td>	<td><%= @supplier.state			%>	</td></tr>
		<tr><td>Codigo Postal	</td>	<td><%= @supplier.postal_code			%>	</td></tr>
		<tr><td>Pais			</td>	<td><%= @supplier.country		%>	</td></tr>
		<tr><td>Imagen			</td>	<td><%= @supplier.image_filename.nil? ? "" : image_tag(@supplier.image_filename)	%>	</td></tr>
	</table>
	
	<p>
		<%= link_to "Modificar", admin_supplier_path @supplier		%> |
		<%= @supplier.deleteable? ? link_to("Eliminar", admin_supplier_path(@supplier), :method => :delete ) : ""	%> 
	
