<header id="header">
	<div class="header-wrap wrapper">
		<h1 id="logo">
			<%= @company.company_picture.nil? ? "" : link_to(image_tag(@company.company_picture.url), store_path) %>
			
		</h1>
	</div><!--end  header-wrap-->
  <nav class="">
    <ul class="wrapper clearfix">
      <li><%= link_to "Inicio", store_path 				%></li>
      <li><%= link_to "Sobre Nosotros", about_us_path	%></li>
      <li><%= link_to "Productos", products_path		%></li>
	  <li><%= link_to "Contacto", contact_us_path		%></li>
    </ul>
  </nav>
</header>
