<header id="header">
	<div class="header-wrap wrapper">
		<h1 id="logo">
			<%= link_to image_tag(@company.image_filename), :controller => 'store', :action => 'index' %>
			
		</h1>
	</div><!--end  header-wrap-->
  <nav class="">
    <ul class="wrapper clearfix">
      	<li><%= link_to "Inicio", 		:controller => 'store', :action => 'index'		%></li>
      	<li><%= link_to "Sobre Nosotros", 	:controller => 'store', :action => 'about_us'		%></li>
      	<li><%= link_to "Productos", 		:controller => 'store', :action => 'products'		%></li>
	<li><%= link_to "Distribuidores", 	:controller => 'store', :action => 'distributors'	%></li>
	<li><%= link_to "Contacto", 		:controller => 'store', :action => 'contact_us'		%></li>
    </ul>
  </nav>
  <style type="text/css"><%= yield :stylesheets %></style>
</header>
