<div role="tablist" aria-multiselectable="true" id="accordion">
	<% @company.suppliers.each do |supplier| %>
	<div class="panel card">
		<div class="card-header" role="tab" id="supplier<%=supplier.id.to_s %>">
			<h4 class="card-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= supplier.id.to_s%>">
					<%= supplier.name %>
				</a>
			</h4>
		</div>
		<div id="collapse<%= supplier.id.to_s%>" class="card-block panel-collapse collapse" role="tabpanel" aria-labelledby="supplier<%=supplier.id.to_s %>">
			<ul>
				<% @product_categories.each do |pcat| %>
				<% if Product.where(product_category_id: pcat.id, supplier_id: supplier.id).count >	 0 %>
				<li >
					<%= link_to(pcat.name, products_path(product_category_id: pcat.id, supplier_id: supplier.id), remote: true) %>
				</li>
				<% end %>
				<% end %>
			</ul>
		</div>
	</div>
	<% end %>
</div>

<script type="text/javascript">

  $("#collapse<%= @supplier.id.to_s%>").addClass("in") 
</script>
