<nav class="navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
	  <a class="navbar-brand" href="<%= store_path %>">
        <img alt="Brand" src="https://s3.amazonaws.com/pierco.com.co/images/logo-pierco.png" width="63.25" height="38.75">		  
      </a>	
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
        <li><%= link_to "Inicio", store_path 				%></li>
		<li />
        <li><%= link_to "Sobre Nosotros", about_us_path	%></li>
		<li />
        <li><%= link_to "Productos", products_path		%></li>
		<li />
	    <li><%= link_to "Contacto", contact_us_path		%></li>
		<li />
      </ul>
    </div>		  		
  </div>				
</nav>