<% content_for :stylesheets do %>
  	#header{
  		background:#000 url(/images/backgrounds/about-header-bg.jpg) no-repeat top;
		height:278px;
		margin-bottom:23px;
		position:relative;
	}
<% end %>

<div class="about-us wrapper">
	<h2>Sobre Nosotros</h2>
	<div class="about clearfix">
		<ul>
			<li><img src="/images/about-us1.jpg" alt="" />
				<h3><%= @company.headline_1_title%></h3>
				<p><%= @company.headline_1_content %></p>
			</li>
			<li><img src="/images/about-us2.jpg" alt="" />
				<h3><%= @company.headline_2_title%></h3>
				<p><%= @company.headline_2_content %></p>
			</li>
			<li><img src="/images/about-us3.jpg" alt="" />
				<h3><%= @company.headline_3_title%></h3>
				<p><%= @company.headline_3_content %></p>
				</li>
		</ul>
	</div><!--end class about-->
	<div class="features clearfix">
		<div class="feature-img">

		</div>
		<div class="feature">
			<h2>Nuestras Marcas</h2>
			<p>
				<%= @company.about_us_main.html_safe %>
			</p>
		</div><!--end class feature-->
	</div><!--end class features-->
</div><!--end class wrapper-->
