<div class ="store-content">
<div class="container">
	<div class="row">
		<div class="col-xl-4 col-lg-4 col-md-12">
			<h2>Contacto</h2>
			<address>
				<strong><%= @company.name %></strong>
				<br><%= @company.address_1 %>
				<br><%= @company.city + ', ' + @company.country	%>
				<br>
			</address>
			<address>
				<abbr title="Phone">Teléfonos:</abbr> <%= @company.telephones %>
				<br>
				<abbr title="Email">Email:</abbr> <%= mail_to @company.email %>
			</address>
		</div>
		<div class="col-xl-8 col-lg-8 col-md-12">
			<%= render partial: "google_map" %>
		</div>

		<div class="col-xl-6 col-lg-6 col-md-12">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<h3>Preguntas o Comentarios?</h3>
			</div>
			<div class="col-xl-12 col-lg-12 col-md-12">
				<p>Si tienes alguna duda sobre nuestra compañia, o tienes algun comentario que quisieras compartir con nosotros, por favor dejanos un mensaje!</p>
			</div>
			<%= form_for @contact, html: {class: "form-horizontal"}, remote: true do |form|	%>
			<%= form.hidden_field :company_id, :value => @company.id %>
			<div class="form-group">
			  <%= form.label "Nombre", class: "col-xl-2 col-lg-2 col-md-2 form-control-label"  %> 
			  <div class="col-xl-10 col-lg-10 col-md-10">
			    <%= form.text_field :name, class: "form-control"  %>
			  </div>
			</div>
			<div class="form-group">
				<%= form.label "Email", class: "col-xl-2 col-lg-2 col-md-2 form-control-label"  %> 
				<div class="col-xl-10 col-lg-10 col-md-10">
					<%= form.text_field :email, class: "form-control"  %>
				</div>
			</div>
			<div class="form-group">
				<%= form.label "Comentario", class: "col-xl-2 col-lg-2 col-md-2 form-control-label"  %> 
				<div class="col-xl-10 col-lg-10 col-md-10">
					<%= form.text_area :message, class: "form-control"  %>
				</div>
			</div>
			<%= submit_tag "Enviar", {class: "btn btn-secondary"} %>
			<% end %>
							
		</div>
	</div>
</div>
	
</div>

<div class="modal fade" id="thankyou_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
