<section id="contact_info">
	<p>
		<%= @company.full_address	%>
	</p>
	<p>	
		<%= @company.city_country	%>
	</p>
	<p>
		Telefonos: 	<%= @company.telephones	%>
	</p>
	<p>
		Fax:		<%= @company.fax		%>
	</p>
	<p>
		Email:		<%= @company.email		%>
	</p>
</section>
<section id="contact_form">
</section>