<% content_for :title do %>
  Contacto - Pierco
<% end %>

<div class="wrapper contact-us clearfix">
	<h2>Contacto</h2>
	<div class="contact-info">
		<div class="contact">
			<ul>
				<li>
					<h5><%= @company.name	%></h5>
					<p><%= @company.address_1	%></p>
					<p><%= @company.city + ', ' + @company.country%></p>
				</li>
				<li>
					<p>Telefonos:</p>
					<p>
						<%= @company.telephones	%>
					</p>
					<p>
						<%= "Fax: " + @company.fax unless @company.fax.nil?	%>
					</p>
				</li>
				<li>
					<%= mail_to @company.email	%>
				</li>
			</ul>
		</div><!--end class contact-->
	</div><!--end class contact-info-->
	<div class="ask">
		<h3>Preguntas o Comentarios?</h3>
		<p>Si tienes alguna duda sobre nuestra compañia, o tienes algun comentario que quisieras compartir con nosotros, por favor dejanos un mensaje!</p>

		<%= form_for :contact, :url => {:controller => 'store', :action => 'create_contact'} do |form|	%>
		<label>Nombre</label>
		<%= form.text_field :name , :class=> 'text'	%>
		<label>Email</label>
		<%= form.text_field :email, :class=> 'text'	%>
		<label>Comentario</label>
		<%= form.text_area :message, :class=>'text'	%>
		<%= submit_tag "Enviar"		%>
		<% end %>


	</div><!--end class ask-->
</div><!--end class wrapper-->