<p>
	<%= @company.full_address	%>
</p>
<p>	
	<%= @company.city_country	%>
</p>
<p>
	Telefonos: 	<%= @company.telephones	%>
</p>
<p>
	Fax:		<%= @company.fax		%>
</p>
<p>
	Email:		<%= @company.email		%>
</p>