<% content_for :stylesheets do %>
  	#header{
  		background:#000 url(/images/backgrounds/dealers-header-bg.jpg) no-repeat top;
		height:278px;
		margin-bottom:23px;
		position:relative;
	}
<% end %>

<div class="dealers wrapper clearfix">
	<h2>Distribuidores</h2>
	<div class="dealer-cities-list">
		

		<p>Por favor seleccione la ciudad.</p>
		<%= form_tag({:controller => 'store', :action => 'distributors'}, :method => "get") do %>
			<% options_string = ""; @cities.each {|cty| cty==@city ? options_string += "<option selected=\"selected\" value=#{cty}>#{cty}</option>" : options_string += "<option value=#{cty}>#{cty}</option>"} %>
			<%= select_tag "city", options_string.html_safe %>
			<%= submit_tag "Buscar", :class => "search" %>
		<% end %>
 


	</div>

	<div class="dealer-cities">
	  <div class="city">
	    <h2><%= @city %></h2>
		<ul>
		  <% @distributors.each do |distributor|		%>
		    <li>
		      <h5><%= link_to distributor.name, :controller => 'store', :action => 'distributors', :distributor => distributor, :city => distributor.city %>	</h5>
		      <p><%= distributor.full_address						%>	</p>
		      <p>Telefonos: <%= distributor.telephones					%>	</p>
		      <p><%= distributor.email.nil? ? "" : mail_to(distributor.email).html_safe	%>	</p>
		    </li>
		  <% end %>
		</ul>
	  </div>
	</div>
	<div class="sidebar-map">
		<div class="gmap">
			<%= image_tag "http://maps.google.com/maps/api/staticmap?size=366x303&maptype=roadmap&sensor=false&markers=color:red|label:A|" + @distributor.geolocation, :alt => "" %>
		</div>
	</div><!--end class Sidebar-map-->
	<div class="dealer-info">
	  <ul>
	    <li>
	      <h5><%= @distributor.name %></h5>
	      <p><%= @distributor.full_address                                           %>      </p>
              <p>Telefonos: <%= @distributor.telephones                                  %>      </p>
              <p><%= @distributor.email.nil? ? "" : mail_to(@distributor.email).html_safe %>      </p>
	    </li>		
	  </ul>
	</div><!--end class dealer-info-->
	
</div><!--end class wrapper-->
