<% content_for :stylesheets do %>
  	#header{
  		background:#000 url(/images/backgrounds/dealers-header-bg.jpg) no-repeat top;
		height:278px;
		margin-bottom:23px;
		position:relative;
	}
<% end %>

<div class="dealers wrapper clearfix">
	<h2>Distribuidores</h2>
	<div class="dealer-cities">
		<% @cities.each do |city| %>
		<div class="city">
			<h2><%= city %></h2>
			<ul>
				<% @company.distributor_by_city(city).each do |dist|		%>
					<li>
						<h5><%= dist.name									%>	</h5>
						<p>	<%= dist.full_address							%>	</p>
						<p>	<%= dist.telephones								%>	</p>
						<p>	<%= dist.email.nil? ? "" : mail_to(dist.email)	%>	</p>
					</li>
				<% end %>
			</ul>
		</div>
		<% end %>
	</div>
	<div class="sidebar-map">
		<div class="gmap">
			<%= image_tag "http://maps.google.com/maps/api/staticmap?size=366x303&maptype=roadmap&sensor=false&markers=color:red|label:A|" + @distributor.latitude.to_s + "," + @distributor.longitude.to_s, :alt => "" %>
		</div>
	</div><!--end class Sidebar-map-->
</div><!--end class wrapper-->