<% content_for :stylesheets do %>
  	#header{
  		background:#000 url(/images/backgrounds/dealers-header-bg.jpg) no-repeat top;
		height:278px;
		margin-bottom:23px;
		position:relative;
	}
<% end %>

<div class="dealers wrapper clearfix">
	<h2>Distribuidores</h2>
	<div class="dealer-cities-list">
		<ul>
		<% @cities.each do |city| %>
			<li><%= city == @city ? city : link_to(city, :controller => 'store', :action => 'distributors', :city => city) %> </li>
		<% end %> 
		</ul>
	</div>

	<div class="dealer-cities">
	  <div class="city">
	    <h2><%= @city %></h2>
		<ul>
		  <% @distributors.each do |distributor|		%>
		    <li>
		      <h5><%= link_to distributor.name, :controller => 'store', :action => 'distributors', :distributor => distributor, :city => distributor.city %>	</h5>
		      <p><%= distributor.full_address						%>	</p>
		      <p>Telefonos: <%= distributor.telephones					%>	</p>
		      <p><%= distributor.email.nil? ? "" : mail_to(distributor.email).html_safe	%>	</p>
		    </li>
		  <% end %>
		</ul>
	  </div>
	</div>
	<div class="sidebar-map">
		<div class="gmap">
			<%= image_tag "http://maps.google.com/maps/api/staticmap?size=366x303&maptype=roadmap&sensor=false&markers=color:red|label:A|" + @distributor.geolocation, :alt => "" %>
		</div>
	</div><!--end class Sidebar-map-->
</div><!--end class wrapper-->
