<% content_for :stylesheets do %>
  	#header{
  		background:#000 url(/images/backgrounds/dealers-header-bg.jpg) no-repeat top;
		height:278px;
		margin-bottom:23px;
		position:relative;
	}
<% end %>

<div class="dealers wrapper clearfix">
	<h2>Distribuidores</h2>
	<div class="dealer-cities-list">

	<h4>Por favor seleccione la ciudad</h4>
		
	<% options_string = ""; @cities.each {|cty| cty==@city ? options_string += "<option selected=\"selected\" value=#{cty}>#{cty}</option>" : options_string += "<option value=#{cty}>#{cty}</option>"} %>
	<%= select_tag "city", options_string.html_safe %>

	</div>

	<script>
		$('#city').change(function() {
			var selected_city = $('city').val();
			window.location.href += "?city="+selected_city;
			window.location.reload();
	
	    	});
        
	</script>	

	<div class="dealer-cities">
	  <div class="city">
	    <h2><%= @city %></h2>
		<ul>
		  <% @distributors.each do |distributor|		%>
		    <li>
		      <h5><%= distributor.name  						%>	</h5>
		      <p><%= distributor.full_address						%>	</p>
		      <p>Telefonos: <%= distributor.telephones					%>	</p>
		      <p><%= distributor.email.nil? ? "" : mail_to(distributor.email).html_safe	%>	</p>
		    </li>
		  <% end %>
		</ul>
	  </div>
	</div>
	<%= render partial: "google_map", locals: {distributors: @distributors} %>
	
</div><!--end class wrapper-->
