<header class="business-header">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
			</div>
		</div>
	</div>
</header>	

<div class="container">
	<hr />
	<div class="row">
		<div class="col-md-8">
			<h2><%= @company.slogan %></h2>

			<p><%= @company.homepage_intro %></p>
			<p>
				<a class="btn btn-secondary btn-lg" href="/products">Ir a Tienda &raquo;</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>Contacto</h2>
			<address>
				<strong><%= @company.name %></strong>
				<br /><%= @company.address_1 %>
				<br /><%= @company.city + ', ' + @company.country	%>
				<br />
			</address>
			<address>
				<abbr title="Phone">Teléfonos:</abbr> <%= @company.telephones %>
				<br />
				<abbr title="Email">Email:</abbr> <%= mail_to @company.email %>
			</address>
		</div>
	</div>
	
	<hr />
	
	<div class="row">
		<div class="col-xl-12">
			<h2>Nuestras Marcas</h2>
		</div>
		<% @suppliers.each do |supplier| %>
		<div class="col-md-6">
			<strong><%= supplier.name %></strong>
			<img class="img-circle img-fluid img-center" src="<%= supplier.supplier_picture.url %>" alt="" >
		</div>
		<% end %>
	
	</div><!-- /.row -->
	
	 <hr>
 
</div><!--end class wrapper-->
<script type="text/javascript">
