<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
</style>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h2><%= @company.slogan %></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h3>Productos Destacados</h3>
		</div>
		<div class="col-lg-12">
			<%= link_to("Ir a la tienda", products_path, class: 'btn btn-default', role: "button") %>
		</div>
	</div>
	<div id="productCarousel" class="carousel slide" data-ride="carousel">
		
		<ol class="carousel-indicators">
			<% (0 .. @products.count-1).each do |i|%>
		    <li data-target="#productCarousel" data-slide-to="<%=i %>" id="slide-<%= i %>"></li>
			<% end %>
		</ol>
		<div class="carousel-inner" role="listbox">
			<% @products.each do |product| %>
			<div class="item" id="product-<%= product.id.to_s %>">
				<%= image_tag(product.product_picture.url, alt: product.name)%>
				<div class="carousel-caption">
					<h3><%= product.name %></h3>
				</div>
			</div>
		<% end %>
		</div>
		<a class="left carousel-control" href="#productCarousel" role="button" data-slide="prev">
    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    		<span class="sr-only">Previous</span>
		</a>
  	  	<a class="right carousel-control" href="#productCarousel" role="button" data-slide="next">
    	  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    	  <span class="sr-only">Next</span>
  		</a>	
	</div>
	<div class="news-section">
		<h3>Noticias y Promociones</h3>
		<ul>
			<% @company.most_recent_posts.each do |post| %>
				<li>
					<h5><%= post.title %></h5>
					<span class="news-date"><%= post.created_at.strftime('%Y-%m-%d %H:%M') %></span>
					<p>
						<%= post.content %>
					</p>
				</li>
			<% end %>
	</div><!-- end class news-section-->
	<div class="main-ad">
		<%= image_tag "pierco-afuera.jpg", :size => "445x240" %>
	</div>
</div><!--end class wrapper-->
<script type="text/javascript">
   $("#slide-0").addClass("active");
   $("#product-<%=@products.first.id.to_s %>").addClass("active");
   $("#productCarousel").carousel({interval: 3000});
</script>
