<header class="business-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
			</div>
		</div>
	</div>
</header>	

<div class="container">
	
	<hr>
	
	<div class="row">
		<div class="col-sm-8">
			<h2><%= @company.slogan %></h2>
			<p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
			<p>
				<a class="btn btn-default btn-lg" href="/products">Ir a Tienda &raquo;</a>
			</p>
		</div><!-- col.sm.8-->
		<div class="col-sm-4">
			<h2>Contacto</h2>
			<address>
				<strong><%= @company.name %></strong>
				<br><%= @company.address_1 %>
				<br><%= @company.city + ', ' + @company.country	%>
				<br>
			</address>
			<address>
				<abbr title="Phone">T:</abbr> <%= @company.telephones %>
				<br>
				<abbr title="Email">E:</abbr> <%= mail_to @company.email %>
			</address>
		</div><!-- /.col-sm-4-->
	</div><!-- /.row -->
	
	<hr>
	
	<div class="row">
		<div class="col-lg-12">
			<h2>Nuestras Marcas</h2>
		</div>
		<% @suppliers.each do |supplier| %>
		<div class="col-sm-6">
		
			<strong><%= supplier.name %></strong>
			<br><%= supplier.address_1 %>
			<br><%= supplier.city + ', ' + @company.country	%>
			<br>
			<img class="img-circle img-responsive img-center" src="<%= supplier.supplier_picture.url %>" alt="" >
		</div>
		<% end %>
	
	</div><!-- /.row -->
	
	 <hr>
 
</div><!--end class wrapper-->
<script type="text/javascript">
