<div class="body-content wrapper">
	<h2><%= @company.slogan %></h2>
	<h3>Productos Destacados</h3>
	<%= link_to "Ir a la tienda", {:controller => 'store', :action => 'products'}, :class => 'button' %>
	<div class="wheels-showcase-holder">

		<ul class="wheels-showcase clearfix">
			<% @products.each do |product| %>
				<li> <%= link_to image_tag(product.image_filename, :size => "104x100").html_safe +
				"<p><em>".html_safe + product.name   + "</em>-".html_safe +  product.supplier.name + "</p>".html_safe,  {:controller => 'store', :action => 'view_product', :product => product.id} %>
				</li>						
			<% end %>
		</ul>
		<a href="#" class="arrows prev"></a>
		<a href="#" class="arrows right next"></a>
	</div>
	<div class="news-section">
		<h3>Noticias y Promociones</h3>
		<ul>
			<% @company.most_recent_posts.each do |post| %>
				<li>
					<h5><%= post.title %></h5>
					<span class="news-date"><%= post.created_at.to_s %></span>
					<p>
						<%= post.content %>
					</p>
				</li>
			<% end %>
	</div><!-- end class news-section-->
	<div class="main-ad">
		<%= image_tag "pierco-afuera.tiff", :size => "445x240" %>
	</div>
</div><!--end class wrapper-->
