<nav>
	<ul>
		<li><%= link_to "Acerca de Nosotros", 	:controller=> 'store', 	:action => 'company'%></li>		
		<li><%= link_to "Nuestros Productos", 	:controller=> 'store', 	:action => 'products'%></li>
		<li><%= link_to "Nuestras Marcas", 		:controller=> 'store', 	:action => 'suppliers'%></li>
		<li><%= link_to "Puntos de Venta", 		:controller=> 'store', 	:action => 'suppliers'%></li>
		<li><%= link_to "Contactenos", 			:controller => 'store',	:action => 'contact' %></li>
	</ul>
</nav>
		