<%= stylesheet_link_tag "side_menu" %>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
		<%= render partial: "side_menu" %>
        </div>
        <div class="col-sm-9 col-md-9">
	    	<div class="row">
				<div class="col-lg-12">
					<h3><%= @product_subcategory.product_category.name + " > " + @product_subcategory.name %></h3>
            	</div>
			</div>
			<% @products.each_slice(3) do |slice| %>
			<div class="row">
				<%slice.each do |product| %>
				<div class="col-lg-4 col-md-4 col-xs-6 thumb"> 
					<a href="javascript:void(0)" onclick="getModal('<%= product.id %>')">
						<%= image_tag(product.product_picture.thumb.url) %>
					</a>
			    	<p><strong><%= product.supplier.name %></strong> <%= product.name %></p>
				</div>
				<% end%>
			</div>
			<% end %>
			<div class="row">	
				<div class="col-lg-12">
					<ul class="nav-buttons">
						<%= will_paginate @products, class: 'apple_pagination', previous_label: "", next_label: "" %>
					</ul>
				</div>
			</div>
        </div>
    </div>
</div>


<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>


<script type="text/javascript">

  function getModal(productId) {
    var url = "/product_modal?product=" + productId;
    $.get(url, function(data) {
      $('#productModal').html(data);
      $('#productModal').modal({});
      $('#productModal').show();
    }
    );
  }

</script>

