<% content_for :stylesheets do %>
  	#header{
  		background:#000 url(/images/backgrounds/store-header-bg.jpg) no-repeat top;
		height:278px;
		margin-bottom:23px;
		position:relative;
	}
<% end %>

<div class="store wrapper general clearfix">

	<div class="store-cat">
		<div class="brand-products">
			<h3><%= @product_subcategory.product_category.name + " > " + @product_subcategory.name %></h3>
            <ul>
			<% @products.each do |product| %>
			  <li> <a href="javascript:void(0)" onclick="getModal('<%= product.id %>')"> <%= image_tag(product.product_picture.url, size: "160x144") %></a>
			    <div>
			      <p><strong><%= product.supplier.name %></strong> <%= product.name %></p>
				</div>
			  </li>
			<% end %>
			</ul>
			<div class="brand-nav-bar">
				<ul class="nav-buttons">
					<%= will_paginate @products, class: 'apple_pagination', previous_label: "", next_label: "" %>
				</ul>
			</div><!--end class brand-nav-bar-->
		</div><!--end class brand-products-->
	</div><!--end class store-cat-->
	<%= render :partial => 'categories_menu'%>
</div><!--end class wrapper-->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>


<script type="text/javascript">

  function getModal(productId) {
    var url = "/product_modal?product=" + productId;
    $.get(url, function(data) {
      $('#productModal').html(data);
      $('#productModal').modal({});
      $('#productModal').show();
    }
    );
  }

</script>

