<section id="categories">
<nav id="sidebar_menu">
	<h4>Categorias</h4>
	<ul>
		<% @company.product_categories.each do |product_category|	%>
			<li><%= link_to product_category.name, :controller => 'store', :action => 'products', :product_category => product_category%></li>
		<% end %>
	</ul>
</nav>
</section>
<section id= "subcategories">
	<nav id="subcategories">
		<ul>
			<% @product_subcategories.each do |product_subcategory| %>
				<li><%= link_to product_subcategory.name, :controller => 'store', :action => 'products', :product_category=> product_subcategory.product_category, :product_subcategory => product_subcategory %></li>
			<% end %>
		</ul>
	</nav>
</section>
<section id="products">
	<table id="products_table">
		<% cell_count = 1 %>
		<% @products.each do |product|%>
			<%= "<tr>".html_safe if cell_count%3 == 1 %>
			<td><%= link_to(image_tag(product.image_filename, :class =>"product_image"), :controller => 'store', :action =>'view_product', :product => product)	%>
				<p><%= product.name				%></p>
				<p><%= product.supplier.name	%></p>
			</td>
			<%= "</tr>".html_safe if cell_count%3 == 0%>
			<% cell_count +=  1 %>
		<% end %>
	</table>
	<%= will_paginate @products%>
</section>	
		