<section id="categories">
<nav id="sidebar_menu">
	<h4>Categorias</h4>
	<ul>
		<% @company.product_categories.each do |product_category|	%>
			<li><%= link_to product_category.name, :controller => 'store', :action => 'products', :product_category => product_category%></li>
		<% end %>
	</ul>
</nav>
</section>
<section id="product_details">
	
	<%= image_tag(@product.image_filename, :class =>"product_image")%>
	<p>
		<%= @product.description	%>
	</p>
	<h4>Dimensiones Disponibles</h4>
	<% unless @product.product_attributes.empty?	%>
		<table>
			<tr>
				<% @product.active_product_attributes_fields.each do |product_attribute_field|	%>
					<th><%= display product_attribute_field	%></th>
				<% end 	%>
			</tr>
			<% @product.product_attributes.each do |product_attribute|	%>
				<tr>
					<%@product.active_product_attributes_fields.	each do |product_attribute_field|	%>
						<td><%= product_attribute.attributes[product_attribute_field]	%></td>
					<% end 	%>
				</tr>
			<%	end %>
		</table>
	<% else 	 %>
		<p>No hay dimensiones establecidas para este producto.</p>
	<% end %>
</section>
