<section id="categories">
<nav id="sidebar_menu">
	<h4>Categorias</h4>
	<ul>
		<% @company.product_categories.each do |product_category|	%>
			<li><%= link_to product_category.name, :controller => 'store', :action => 'products', :product_category => product_category%></li>
		<% end %>
	</ul>
</nav>
</section>
<section id="product_details">
	
	<%= image_tag(@product.image_filename, :class =>"product_image")%>
	<p>
		<%= @product.description	%>
	</p>
	<% unless @product.product_dimensions.empty?	%>
		<table>
			<tr><th>Dimension	</th>
				<% @product.product_category.active_dimension_fields.each do |active_field|	%>
					<th><%= ProductDimension.attribute_dictionary[active_field]	%></th>
				<% end %>
			</tr>
			<% @product.product_dimensions.each do |product_dimension|	%>
				<tr><td><%= product_dimension.name	%></td>
					<% @product.product_category.active_dimension_fields.each do |active_field|	%>
						<td><%= product_dimension.attributes[active_field]	%></td>
					<% end %>
				</tr>
			<% end %>
		</table>
	<% end %>
</section>
