<% content_for :stylesheets do %>
  	#header{
  		background:#000 url(/images/backgrounds/store-header-bg.jpg) no-repeat top;
		height:278px;
		margin-bottom:23px;
		position:relative;
	}
<% end %>

<div class="wrapper general clearfix">
	<h2>Store</h2>
	<div class="store-cat">
		<div class="rin brand clearfix">
			<div class="text-wrap">
				<h3><%= @product.supplier.name %>:</h3>


			</div><!--end text-wrap-->
		</div><!--end class brand-->
		<div class="brand-products">
			<h3><%= @product.supplier.name %></h3>
			<div class="detail-image">
				<%= image_tag @product.image_filename %>
			</div><!--End class detail-image-->
			<div class="product-detail">
				<h3><%= @product.supplier.name %> <span>- <%= @product.name %></span></h3>
				<p>
					<%= @product.description %>
				</p>
				<% if @product.product_dimensions.count > 0 %>
					<table class="table-detail">
						<tr>
						<th>Dimension</th>
						<% @product.product_category.active_dimension_fields.each do |field| %>
							<th scope="col"><%= ProductDimension.attribute_dictionary[field] %></th>
						<% end %>
						</tr>
						<% @product.product_dimensions.each do |product_dimension| %>
							<tr><td><%= product_dimension.name %> </td>
								<% @product.product_category.active_dimension_fields.each do |field| %>
									<td><%= product_dimension.attributes[field] %></td>
								<% end %>
							</tr>
						<% end %>
					</table>
				<% end %>				
			</div><!--End class product-detail-->
		</div><!--end class brand-products-->
	</div><!--end class store-cat-->
	<%= render :partial => 'categories_menu'%>
</div><!--end class wrapper-->
