<% content_for :stylesheets do %>
  	#header{
  		background:#000 url(/images/backgrounds/store-header-bg.jpg) no-repeat top;
		height:278px;
		margin-bottom:23px;
		position:relative;
	}
<% end %>

<div class="wrapper general clearfix">
	<h2>Store</h2>
	<div class="store-cat">
		<div class="brand-products">
			<h3><%= @product.supplier.name %> <span> <%= @product.name %></span></h3>
			<div class="detail-image">
				<%= image_tag @product.image_filename %>
			</div><!--End class detail-image-->
			<div class="product-detail">
				<p>
					<%= @product.description %>
				</p>
			</div><!--End class product-detail-->
			<% if @product.product_dimensions.count > 0 %>
				<div class="table-detail">
					<div class="product-detail">
						<span><h3>Medidas Disponibles</h3></span>
					</div><!-- End of class product-detail -->
					<table>
						<tr>
							<th>Dimension</th>
							<% @product.product_category.active_dimension_fields.each do |field| %>
							<th scope="col"><%= ProductDimension.attribute_dictionary[field] %></th>
							<% end %>
						</tr>
						<% @product.product_dimensions.each do |product_dimension| %>
							<tr><td><%= product_dimension.name %> </td>
								<% @product.product_category.active_dimension_fields.each do |field| %>
									<td><%= product_dimension.attributes[field] %></td>
								<% end %>
							</tr>
						<% end %>
					</table>
				</div><!-- End of class table-detail-->
			<% end %>				
		</div><!--end class brand-products-->
	</div><!--end class store-cat-->
	<%= render :partial => 'categories_menu'%>
</div><!--end class wrapper-->
