<!DOCTYPE html>
<html>
<head>
  <title>Pierco</title>
	<%= javascript_include_tag "admin" %>
  <%= stylesheet_link_tag "bootstrap" %>
	<%= stylesheet_link_tag "admin"	%>
  <%= csrf_meta_tag %>
</head>

<body>
  <div class="container-fluid">
	
    <%= render partial: "shared/main_menu" %>

    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </div>
</body>
<footer id="company_footer">
	<p>&copy Pierco Ltda. 2011 </p>
</footer>

</html>
