<!DOCTYPE html>
<html class="no-js <%= @page_name %>" lang="en">

  <%= render :partial => "head" %>

  <!--[if lte IE 7 ]> <body class="ie8 ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]> <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
    <div id="wrapper">
      <%= render :partial => "header" %>

      <div id="content">
        <%= yield %>
      </div><!-- #content -->
    </div><!-- #wrapper -->
    
    <%= render :partial => "footer" %>
  
    <%= render :partial => "scripts" %>
  </body>
</html>